[submodule "tests/c3s_sm-test-data"]
	path = tests/c3s_sm-test-data
	url = https://git.geo.tuwien.ac.at/public_projects/rs/rs_testdata/c3s_sm-testdata.git
	ignore = dirty
[submodule "docs/c3s_sm-tutorials"]
	path = docs/c3s_sm-tutorials
	url = https://github.com/TUW-GEO/c3s_sm-tutorials.git
